<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnitId" value="U004"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Accounts_WebServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="999999999" maxBufferSize="999999999" maxReceivedMessageSize="999999999" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999"/>
        </binding>
        <binding name="UPHealthServicesSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="999999999" maxBufferSize="999999999" maxReceivedMessageSize="999999999" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999"/>
        </binding>
        <binding name="Diagnostic_CS_WebServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="999999999" maxBufferSize="999999999" maxReceivedMessageSize="999999999" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="999999999"/>
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="http://192.168.0.11/exprologic/Accounts_webservice.asmx" binding="basicHttpBinding" bindingConfiguration="Accounts_WebServiceSoap" contract="Accounts_Proxy.Accounts_WebServiceSoap" name="Accounts_WebServiceSoap"/>
      <endpoint address="http://192.168.0.11/exprologic/Diagnostic_CS_WebService.asmx" binding="basicHttpBinding" bindingConfiguration="Diagnostic_CS_WebServiceSoap" contract="diagProxy.Diagnostic_CS_WebServiceSoap" name="Diagnostic_CS_WebServiceSoap"/>
      <endpoint address="http://192.168.0.11/exprologic/UPHealthServices.asmx" binding="basicHttpBinding" bindingConfiguration="UPHealthServicesSoap" contract="uph_proxy.UPHealthServicesSoap" name="UPHealthServicesSoap"/>
      
    </client>
  </system.serviceModel>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
